{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen">

<head>
    <title>GASPARIN</title>
</head>
<body>
    <div class="header">
    <h1 >Video Live Detection</h1>
    </div>
    <div class="video">
        <div class="stream">
            <img class = "live-leg" src = "{% url 'video_processing:legend_live' %}">
        </div>
        <span></span><span></span>
        <div class="stream">    
            <img class = "live-vid" src = "{% url 'video_processing:live_video_feed' %}">
        </div>
    </div>
</body>
